<!DOCTYPE html>
<html>
<body>

<h2>Silakan Login Terlebih Dahulu</h2>

<form action="" method="post">
  {% csrf_token %}
  <label for="username">Username:</label><br>
  <input name="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>
  <input type="hidden" name="target" value="{{ target }}"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
